
.content {
    background-image: url("../images/backgrounda.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 460px;
    margin: 0 30px 30px;
    top: 90px;
    width: 1250px;
}
.title_a {
    left: 160px;
    position: relative;
}
.title_a::before {
    background-image: url("../images/cmha.png");
    background-repeat: no-repeat;
}
.form_login p {
    color: black;
    display: block;
    left: 935px;
    position: relative;
    top: 150px;
    width: 150px;
}
.username {
    color: black;
    display: block;
    left: 935px;
    position: relative;
    top: 150px;
    width: 150px;
}
.Pw {
    color: black;
    display: block;
    left: 935px;
    position: relative;
    top: 150px;
    width: 150px;
}
.button_log {
    color: black;
    display: block;
    left: 935px;
    position: relative;
    top: 150px;
    width: 50px;
}
.footer {
    left: 500px;
    position: relative;
}
